<p-toolbar id="espaco" class="corFundo">
  <div class="p-toolbar-group-left">
    <p-button id="botaoTobar" style="margin-right: 20px;" type="button" (click)="menuVisible = true" icon="pi pi-bars"></p-button>
    <p-splitButton
      id="botaoTobar"
      label="Primary"
      [model]="this.items"
    ></p-splitButton>
  </div>

  <div>    
    <p style="color: black;">logo pagina</p>
  </div>
  
  <div class="p-toolbar-group-right">
    <span class="p-float-label">
      <input id="float-input" type="text" pInputText> 
      <label for="float-input">Selecione uma tela</label>
    </span>
    <p-button id="botaoTobar" icon="pi pi-search"></p-button>
    <i id="corInonUsuario" style="margin-left: 20px; height: 20px;" class="pi pi-user"></i>
  </div>
</p-toolbar>


<p-sidebar [(visible)]="menuVisible" [baseZIndex]="10000">
  <h1 style="font-weight:normal">Left Sidebar</h1>
  <p-button type="button" (click)="menuVisible = false" label="Save" styleClass="p-button-success"></p-button>
  <p-button type="button" (click)="menuVisible = false" label="Cancel" styleClass="p-button-secondary"></p-button>
</p-sidebar>

<div class="telas">
  <div class="espacoTelas"><p>Dashboard</p></div>

  <p-card id="cardMenuTelas">
    <h2 style="text-align: center; margin-top: -10px; font-family: 'Times New Roman', Times, serif;">Abas Favoritas</h2>
    <p-listbox [options]="gruposFavoritos" [group]="true"
      [(ngModel)]="selectedCountries" [metaKeySelection]="false"
      [checkbox]="false" [filter]="true" [multiple]="false"
      [listStyle]="{'max-height':'100%'}"
      [style]="{'width':'15rem'}">
      <ng-template let-group pTemplate="group">
        <div class="p-d-flex p-ai-center">
          <span>{{group.label}}</span>
        </div>
      </ng-template>
    </p-listbox>
  </p-card>
</div>